
{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-md-12">
      {{ with .Content }}
        <div class="well">
          {{.}}
        </div>
      {{ end }}
      <div class="row">
        {{ range .Paginator.Pages }}
          {{ partial "post_preview_card" .}}
        {{ end }}
      </div>
    </div>
  </div>
</div>

<div class="container">
 <div class="row font-sans">
   <div class="col-md-12 mt-10">
      <nav aria-label="Page navigation">
      <ul class= "pagination justify-content-end">
      {{ template "_internal/pagination.html" . }}
      </ul>
      </nav>
    </div>
  </div>
</div>

{{ end }}
