{{ define "main" }}

<div class="about-section">
  <div class="container pb-5">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid img-80 shadow-effect" src="{{ "../../img/bino-about.jpg" }}"
          alt="bino kochumol varghese">
      </div>

      <!-- <div class="col-lg-8">
        {{ with .Content }}
      </div> -->
      <div class="col-md-8">
        {{.}}
        <ul class="list-inline list-group list-group-horizontal footer-links d-flex flex-row" >
            <li>
                <a href="mailto:contactcodbix@gmail" title="Email to Bino" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-envelope fa-stack-1x"></i>
                  </span>
                </a>
              </li>

          <li>
            <a href="https://www.instagram.com/binokochumolvarghese" title="Bino Instagram" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fab fa-instagram fa-stack-1x"></i>
              </span>
            </a>
          </li>

          <li>
            <a href="https://www.binovarghese.com" title="Bino Website" target="_blank">
              <span class="fa-stack fa-lg">
                <i class="fas fa-globe fa-stack-1x"></i>
              </span>
            </a>
          </li>

        </ul>



      </div>
      <!-- {{ end }} -->

    </div>

  </div>

</div>


{{ end }}