{{ if eq .Type "page" }}
{{ partial "page_meta.html" . }}
{{ end }}


<footer>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul
          class="list-inline list-group list-group-horizontal text-center footer-links d-flex justify-content-center flex-row">

          {{ range .Site.Data.lightbi.social.social_icons }}
          {{- if isset $.Site.Params.Author .id }}
          <li>
            <a href="{{ printf .url (index $.Site.Params.Author .id) }}" title="{{ .title }}" target="_blank">
              <span class="mx-2">
                <i class="{{ .icon }}"></i>
              </span>
            </a>
          </li>
          {{- end -}}
          {{ end }}
          {{ if .Site.Params.rss }}
          <li>
            <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="RSS">
              <span class="mx-2">
                <i class="bi bi-rss"></i>
              </span>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="credits copyright text-muted">
          {{ if .Site.Params.Author.name }}
          {{ if .Site.Params.Author.website }}
          <a href="{{ .Site.Params.Author.website }}">{{ .Site.Params.Author.name }}</a>
          {{ else }}
          {{ .Site.Params.Author.name }}
          {{ end }}
          {{ end }}

          &nbsp;&bull;&nbsp;&copy;
          {{ if .Site.Params.since }}
          {{ .Site.Params.since }} - {{ .Site.Lastmod.Format "2006" }}
          {{ else }}
          {{ .Site.Lastmod.Format "2006" }}
          {{ end }}

          {{ if .Site.Title }}
          &nbsp;&bull;&nbsp;
          <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
          {{ end }}
        </p>
        <!-- Please don't remove this, keep my open source work credited. -->
        <p class="credits theme-by text-muted">
          {{ i18n "poweredBy" . | safeHTML }}
          {{ if $.GitInfo }}&nbsp;&bull;&nbsp;[<a href="{{ .Site.Params.commit }}{{ .GitInfo.Hash }}">{{ substr
            .GitInfo.Hash 0 8 }}</a>]{{ end }}
        </p>
      </div>
    </div>
  </div>
</footer>

{{- if .Site.Params.selfHosted -}}
<script src="{{ "vendor/bootstrap/js/bootstrap.bundle.min.js" | absURL }}"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{{- end }}


{{- if .Site.Params.useHLJS }}
<script src="{{ "js/highlight.min.js" | absURL }}"></script>
<script> hljs.initHighlightingOnLoad(); </script>
<script> 
document.addEventListener("DOMContentLoaded", function () {
  document.querySelectorAll("pre.chroma").forEach(function (element) {
    element.style.padding = "0";
  });
});
 </script>
{{- end -}}

{{- partial "footer_custom.html" . }}
