<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4">
    <a href="{{ .Permalink }}">
        <div class="card single-post-card h-100 shadow-effect border rounded-4">
            {{ with partial "get_image" . }}
            <img src="{{ ( .Resize " 500x" ).RelPermalink }}" alt="{{ .Title }}"
                class="card-img-top img-fluid lazyload">
            {{ end }}

            {{ if .Params.video }}
            <video loop autoplay muted playsinline class="img-title">
                <source src="{{ .Params.video }}">
            </video>
            {{ end }}
            <div class="card-body">

                <h3 class="fw-medium post-title">{{ .Title }}</h3>
                {{ if .Params.subtitle }}
                <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                </h3>
                {{ end }}

                <p class="post-meta">
                    {{ partial "post_meta_notes.html" . }}
                </p>
                {{ print }}
                <div class="post-entry text-secondary">
                    {{ if .Description }}
                    {{ .Description }}

                    {{ else }}
                    {{ .Summary }}
                    {{ end }}
                </div>

                <div class="read-more-section">
                    <h6 class="text-muted">{{ i18n "readMore" }} <i class="bi bi-arrow-right"></i></h6>
                </div>
            </div>
        </div>
    </a>
</div>
