<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4">
    <a href="{{ .Permalink }}" alt="Link to {{ .Title }}">
        <div class="card single-post-card h-100 shadow-effect border">
            {{ if .Params.image }}
            {{ with resources.Get .Params.image }}
            {{ with .Err }}
            {{ warnf "%s" . }}
            {{ else }}

            <img src="{{ ( .Resize " 500x" ).RelPermalink }}" alt="{{ .Title }}"
                class="card-img-top img-fluid lazyload">
            {{ end }}

            {{ end }}
            {{ end }}
            {{ if .Params.video }}
            <video loop autoplay muted playsinline class="img-title">
                <source src="{{ .Params.video }}">
            </video>
            {{ end }}
            <div class="card-body">

                <h3 class="fw-bold post-title">{{ .Title }}</h3>
                {{ if .Params.subtitle }}
                <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                </h3>
                {{ end }}

                <p class="post-meta">
                    {{ partial "post_meta_notes.html" . }}
                </p>
                {{ print }}
                <div class="post-entry">

                    {{ if .Description }}
                    {{ .Description }}

                    {{ else }}
                    {{ .Content }}
                    {{ end }}
                </div>

                <div class="read-more-section">
                    <h6><a href="{{ .Permalink }}" class="text-muted link-underline" alt="Link to {{ .Title }}">Read more <i
                        class="bi bi-arrow-right"></i></a> </h6>
                </div>
            </div>

        </div>
    </a>
</div>