<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6  mb-4">
    <div class="card h-100 single-post-card shadow-effect bg-faded-light">
        <a href="{{ .Permalink }}">
            <div class="card-body">

                <h3 class="fw-bold post-title">{{ .Title }}</h3>
                {{ if .Params.subtitle }}
                <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                </h3>
                {{ end }}

                <p class="post-meta">
                    {{ partial "post_meta.html" . }}
                </p>
                {{ print }}
                <div class="post-entry">

                    {{ if .Description }}
                    {{ .Description }}

                    {{ else }}
                    {{ .Content }}
                    {{ end }}
                </div>

                <div class="read-more-section">
                    <h6>Read more</h6>
                </div>
            </div>

            {{ if .Params.image }}
            <img src="{{ .Params.image }}" alt="{{ .Title }}" class="card-img-top img-fluid">
            {{ end }}
            {{ if .Params.video }}
            <video loop autoplay muted playsinline class="img-title">
                <source src="{{ .Params.video }}">
            </video>
            {{ end }}
        </a>
    </div>
</div> 