<div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
    <div class="card mb-3 ">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="post-title">{{ .Title }}</h3>
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                    <a href="{{ .Permalink }}">
                        <button type="button" class="btn btn-outline-dark">
                            Link
                        </button>
                    </a>
                </div>
            </div>

            {{ if .Params.subtitle }}
            <h3 class="post-subtitle">
                {{ .Params.subtitle }}
            </h3>
            {{ end }}

            <p class="post-meta">
                {{ partial "post_meta_notes.html" . }}
            </p>
            {{ print }}
            <div class="post-entry">

                {{ if .Content }}
                {{ .Content }}
                {{ end }}
            </div>
        </div>
        <!-- <hr class="m-1"/> -->
        <!-- <div class="col"> -->
        {{ if .Params.tags }}
        <div class="card-footer text-muted">
            <div class="blog-tags">
                {{ range .Params.tags }}
                <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>
                {{ end }}
            </div>
        </div>
        {{ end }}




    </div>
</div>