<span class="post-meta text-muted">
  {{ $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format }}
  {{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}

  {{ $datestr }}

  {{ if and .Site.Params.lastmod (ne $datestr $lastmodstr) }}
  {{ i18n "lastModified" $lastmodstr }}
  {{ end }}

  {{ if .Site.Params.readingTime }}
  &nbsp;|&nbsp; <i class="bi bi-clock"></i>&nbsp;{{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" .ReadingTime }}
  {{ end }}

  {{ if .Site.Params.wordCount }}
  &nbsp;|&nbsp;<i class="bi bi-book"></i>&nbsp;{{ .WordCount }}&nbsp;{{ i18n "words" .WordCount }}
  {{ end }}

  {{ if .IsTranslated -}}
  {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
  {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
  {{- $cleanLinks := apply $links "chomp" "." -}}
  {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
  &nbsp;&bull;&nbsp;{{ i18n "translationsLabel" }}{{ $linksOutput }}
  {{- end }}
</span>
