{{ define "main" }}

<div class="intro-header no-img">
    <h2 class="font-bold">
        No APIs? No problem. I make the web your database.
    </h2>
    <p>I run a professional web scraping business built on experience, speed, and technical versatility.<br>
    Whether it’s e-commerce, social media, or real estate: if it’s online, I can get the data you need.
    Clean and fast...</p>
    <p>Interested? Just reach out using the <a href="#site-footer">contact links are in the footer.</a></p>
</div>

<div class="container" role="main">
  <div class="row">
    {{ with .Content }}
    <div class="well">
      {{.}}
    </div>
    {{ end }}


    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections ) .Site.Params.pagination }}
    {{ range $pag.Pages }}
    {{ partial "post_preview_card" . }}
    {{ end }}


  </div>

  <div class="row font-sans">
    <div class="col-md-12 mt-10">
      <nav aria-label="Page navigation">
        <div class="pagination justify-content-end">
          {{ template "_internal/pagination.html" . }}
        </div>
      </nav>
    </div>
  </div>
</div>

{{ end }}
