  <nav class="navbar navbar-expand-md navbar-light  fixed-top "> 
      <a class="navbar-brand" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
       
      <button class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#main-navbar"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">{{ i18n "toggleNavigation" }}</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav ml-auto ">
        {{ range .Site.Menus.main.ByWeight }}
          {{ if .HasChildren }}
            <li class="nav-item">
              <a class="nav-link">{{ .Name }}</a>
              <div class="navlinks-children">
                {{ range .Children }}
                  <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </li>
          {{ else }}
          
            <li class="nav-item">
              <a class="nav-link" title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        {{ end }}
 
      </ul>
  </div>
</nav>
 