<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
    <div class="card single-post-card-haiku shadow-effect bg-faded-light mb-3 ">
         
            <div class="card-body">

                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                </h3>
                {{ end }}
 
                <p class="post-meta">
                    {{ partial "post_meta.html" . }}
                </p>
                {{  print  }}
                <div class="post-entry">

                    {{ if .Content  }} 
                    {{ .Content }}
                    {{ end }}
                </div>
                
            </div> 
        </a>
    </div>
</div>
 