<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 pb-4">
    <div class="card h-100 single-post-card shadow-effect">
        <a href="{{ .Permalink }}">
            <div class="card-body">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                </h3>
                {{ end }}

                <p class="post-meta">
                    {{ partial "post_meta.html" . }}
                </p>
                {{ print }}
                <div class="post-entry">

                    {{ if .Description }}
                    {{ .Description }}

                    {{ else }}
                    {{ .Content }}
                    {{ end }}
                </div>

                <div class="read-more-section">
                    <h6><a href="{{ .Permalink }}" class="post-read-more">Read more</a> </h6>
                </div>

                {{ if .Params.image }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}" href="{{ .Permalink }}"
                    class="card-img-bottom img-fluid " />
                {{ end }}
                {{ if .Params.video }}
                <video loop autoplay muted playsinline class="img-title">
                    <source src="{{ .Params.video }}">
                </video>
                {{ end }}

            </div>
    </div>
    </a>
</div>