<div class=" col-12 col-sm-12 col-md-8">
    <div class="card mb-3 ">
        <div class="card-body">

            <h2 class="post-title">{{ .Title }}</h2>
            {{ if .Params.subtitle }}
            <h3 class="post-subtitle">
                {{ .Params.subtitle }}
            </h3>
            {{ end }}

            <p class="post-meta">
                {{ partial "post_meta.html" . }}
            </p>
            {{ print }}
            <div class="post-entry">

                {{ if .Content }}
                {{ .Content }}
                {{ end }}
            </div>

        </div>
        <!-- <div class="card-footer">
                {{ if $.Param "socialShare" }} 
                <section id="social-share">
                  <div class="list-inline footer-links">
                    {{ partial "share-links" . }}
                  </div>
                </section>
                {{ end }}
            </div>  -->
    </div>
</div>